<p>Customer complaints about queues are a perennial issue for contact centres. Suzette Bouzane Meadows and Richard Farrell demonstrate how call back technology can help solve the issue and provide more effective customer service.</p>




<h3>Practical considerations</h3>

<p>
    It is important to be aware of how the technology will impact existing operations when implementing a call back solution.<br/> Triggering a call back, Statistics and IVR messaging are the main focus.
</p>


<h4> 1) Triggering a call back </h4>
<p>Call back can be triggered based on the average wait time, the number of people in the queue, the current service level, or the current abandon rate, to mention just a few. </p>

<h5>The logical starting point is to look at the drivers for implementing the technology. These may include the following:</h5>

<ul>
    <li> High abandon call rate – for example, 10%+</li>
    <li>Low abandon rate – for example 3%, with overstaffing for peaks</li>
    <li>New business call centre, where you don’t want to lose a single call High agent attrition</li>
    <li>Staffing difficulties and resultant problems managing call flow, for instance, during unpopular shifts</li>
    <li>Customer satisfaction issues</li>
    <li>Headcount restrictions and/or space constraints</li>
    <li>Training and agent deployment</li>

</ul>



<h4>2) Statistics</h4>
<h5>The following are the main statistics to consider:</h5>

<li> <b>Calls offered to call centre:</b> Overall these may reduce as the number of repeat callers decreases. Callers will elect to receive a call back rather than ring the call centre again. Care should be taken when measuring inbound and call backs to ensure
    calls are not double-counted. </li>


<li> <b>Calls offered to agent group:</b> More calls are answered when they are spread out, which leads to significant increase in calls, agent productivity and reduces idleness. </li>


<li> <b>‘Queue’ time to answer:</b> Care should be taken to ensure measurement of caller behaviour distinguishes between live calls and call backs. The call back application will never abandon in queue calls. </li>

<li> <b>Outbound calls made by agents: </b> The outbound calls are made by the call back application and not the agents.</li>


<li> <b>Sum of inbound and calls to agent group: </b> There will be additional calls from the call back application.</li>



<li> <b>Abandon rate:</b> This will depend on how the existing call centre treats calls that are ‘routed out’ through IVR. If these calls are labelled as ‘routed out’, then the abandon rate will decrease. If these types of calls are classed as abandoned calls,
    then the abandon rate will increase. In best practice implementations, callers make a positive decision to accept a call back and should not be counted as abandoned calls.</li>


<li> <b>Service level:</b> The option to provide a call back service can be triggered when the call centre is close to exceeding its service level agreement (SLA).
</li>






<p>If your company has a proper call recording system, it can reduce inappropriate calls, and help detect any security problems. You can also monitor employee interaction to reduce inappropriate conversations. It will also help to reduce personal phone calls.</p>
<p>All the call centers are required to inform the customer beforehand that the call is getting recorded. One advantage of this is that the customers will refrain from using abusive language on the call and will help to keep the conversations professional.</p>



<h3>Quality control</h3>
<p>The quality manager can listen to the interaction between an agent and a customer and identify the key areas where the agent needs improvement. Then a plan can be created for the agent that may include communication training to improve communication skills
    or product training to increase the agent's knowledge about a particular product or service. If the agent takes down the wrong credit card information, the manager can listen to the call and take down the correct information, rather than calling the
    customer again for the same information. This will save time and money of the company as well. </p>



<h3>Sales training</h3>

<p>The data / information collected from the recorded calls can be utilized to provide effective sales training to the agents. The data can be used to improve sales. There is a way to pitch a product to a customer. Managers can play the calls of experienced
    agents to trainees or junior agents so that they can gain points from it. Managers can also pick bad calls to point out the things that should not be done on a call.</p>



<h3>Performance reviews</h3>

<p>Performance reviews are important to the company, as well as to the employees. By analyzing the recordings, management can compare employee progress to company standards. Employees can listen to their own calls, and find out their shortcomings. It is
    often when you listen to your own calls that you will come to know the mistakes that you have made or that you have to work on your tone to keep it pleasant. This will help them to improve. </p>


<h3>Corporate liability</h3>

<p>All companies have the potential to face lawsuits. A simple miscommunication can lead to a potential lawsuit. By recording calls, your company will be able to diffuse many such scenarios.</p>


<h3>Compliance</h3>

<p>Government regulations require all companies to be compliant about their business practices. You are required to record all verbal communications. Banks, brokers, insurance companies, and other financial companies are constantly monitored and regulated
    by the government and private entities. Recording calls help to maintain compliance with all these regulatory groups. It will keep you from being prosecuted or fined.</p>